body {
  font-family: sans-serif;
  background: white;
  color: black;
}
a {
  color: #005;
}
a:visited {
  color: #505;
}

fieldset {
  border: none;
}
nav a, nav a:visited {
  font-size: 1.6rem;
}
nav a, nav a:visited, .month h3 a, .month h3 a:visited {
  background: white;
  color: black;
}
.month td a, .month td a:visited {
  color: black;
  text-decoration: none;
}
nav a:hover, .month h3 a:hover {
  background: black;
  color: white;
}
nav select, nav button {
  border: 1px solid black;
  font-size: 1.5rem;
}
nav a, .month h3 a {
  text-decoration: none;
  font-style: bold;
}
nav a.last-month, nav a.last-year, nav a.yesterday {
  margin-right: 1rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}
nav a.next-month, nav a.next-year, nav a.tomorrow {
  margin-left: 1rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}
nav a.now, nav a.this-year, nav a.this-month, nav a.this-day {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.calendar table {
  border: 1px solid black;
  border-radius: 1rem;
  border-spacing: 0;
  margin: auto;
}
.calendar th.weekday-0, .calendar th.time {
  border-top-left-radius: 1rem;
}
.calendar th.weekday-6, .calendar th.event {
  border-top-right-radius: 1rem;
}
.calendar .last-row td.weekday-0, .calendar .time-23 td.time {
  border-bottom-left-radius: 1rem;
}
.calendar .last-row td.weekday-6, .calendar .time-23 td.event {
  border-bottom-right-radius: 1rem;
}
.calendar th {
  background: #ccc;
}
.calendar th, .calendar td {
  border: 1px solid #bbb;
  padding: 0.5rem;
}
.calendar>.month td {
  height: 5rem;
  width: 5rem;
}
.calendar .year {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 0.5rem;
}
.calendar .day {
  width: 43rem;
}
.calendar .day .time {
  text-align: right;
  width: 3rem;
}

/*
Make the whole month clickable, in year view.
https://stackoverflow.com/a/3494108/12841859
*/
.calendar .year .month {
  position: relative;
}
.calendar .year a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.calendar .year a span:hover {
  border: 2px solid black;
  border-radius: 1rem;
}

/*
Make the whole day clickable, in month view.
https://stackoverflow.com/a/3494108/12841859
*/
.calendar>.month td {
  position: relative;
}
.calendar>.month td a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.calendar>.month td a span:hover {
  border: 1px solid black;
}
.calendar>.month .last-row td.weekday-0 a span:hover {
  border-bottom-left-radius: 1rem;
}
.calendar>.month .last-row td.weekday-6 a span:hover {
  border-bottom-right-radius: 1rem;
}

.calendar {
  text-align: center;
}
td.last-month, td.next-month {
  background: #ddd;
}
.month td.now, .day tr.now {
  border: 1px solid black;
  background: #bbb;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
  a {
    color: #aaf;
  }
  a:visited {
    color: #faf;
  }

  nav a, nav a:visited, .month h3 a, .month h3 a:visited {
    background: black;
    color: white;
  }
  nav a:hover, .month h3 a:hover {
    background: white;
    color: black;
  }
  .month td a, .month td a:visited {
    color: white;
    text-decoration: none;
  }
  nav select, nav button {
    background: black;
    color: white;
    border: 1px solid white;
  }

  .calendar table {
    border: 1px solid white;
  }
  .calendar th {
    background: #333;
  }
  .calendar th, .calendar td {
    border: 1px solid #444;
  }

  td.last-month, td.next-month {
    background: #222;
  }
  .month td.now, .day tr.now {
    border: 1px solid white;
    background: #444;
  }

  .calendar .year a span:hover {
    border: 2px solid white;
  }
  .calendar>.month td a span:hover {
    border: 1px solid white;
  }
}
