body {
    font-family: sans-serif;
    background: white;
    color: black;
}
a {
    color: #005;
}
a:visited {
    color: #505;
}

form {
    overflow: hidden;
    margin: auto;
}
fieldset {
    border: none;
}
button, input, select, textarea {
    border: 1px solid black;
    background: #eee;
    color: black;
    font-size: 1.5rem;
}
button {
    height: 2.5rem;
}
input {
    padding: 0.3rem;
}

fieldset button {
    float: right;
    width: calc(100% - 11rem);
}
fieldset input {
    float: left;
    width: calc(100% - 12rem);
}
fieldset label {
    font-size: 1.5rem;
    float: left;
    width: 10rem;
    margin: 0.188rem 1rem 0 0;
    text-align: right;
}

form#category {
    width: 32rem;
}
form#event {
    width: 50rem;
}

nav, h1 {
    text-align: center;
}
nav a,
nav a:visited {
    font-size: 1.6rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}
nav a,
nav a:visited,
.year h2 a,
.year h2 a:visited {
    background: white;
    color: black;
    font-style: bold;
    text-decoration: none;
}
nav a:hover,
.month h2 a:hover {
    background: black;
    color: white;
}
.month td a,
.month td a:visited {
    color: black;
    text-decoration: none;
}
nav a.last-month,
nav a.last-year,
nav a.yesterday {
    margin-right: 1rem;
}
nav a.next-month,
nav a.next-year,
nav a.tomorrow {
    margin-left: 1rem;
}

table {
    border: 1px solid black;
    border-radius: 1rem;
    border-spacing: 0;
    margin: auto;
}
th {
    background: #ccc;
}
th, td {
    border: 1px solid #bbb;
    padding: 0.5rem;
}

table.color-codes tr:first-child td:first-child,
tr:first-child th:first-child {
    border-top-left-radius: 1rem;
}
table.color-codes tr:first-child td:last-child,
tr:first-child th:last-child {
    border-top-right-radius: 1rem;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 1rem;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 1rem;
}

table.color-codes th,
table.color-codes td,
table.color-names th,
table.color-names td {
    border: none;
}

#categories td.category-id,
#categories td.events {
    text-align: right;
}
#events td.event-id,
#events td.event-days {
    text-align: right;
}

.year {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0.5rem;
}
.year h2,
.month td {
    text-align: center;
}
.calendar>.month td {
    height: 5rem;
    width: 5rem;
}
td.last-month,
td.next-month {
    background: #ddd;
}
.month td.now,
.day tr.now {
    border: 1px solid black;
    background: #bbb;
}
.day {
    width: 43rem;
}
.day .time {
    text-align: right;
    width: 3rem;
}
.day .event {
    text-align: left;
    vertical-align: top;
}
.day .event a,
.day .event a:visited {
    background: inherit;
    color: inherit;
}
.day .event ul {
    border: 1px solid #777;
    border-radius: 0.5rem;
    margin: 0;
    padding: 0;
}
.day .event li {
    list-style: none;
    padding: 0.5rem 0.25rem;
}
.day .event li:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.day .event li:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

/*
Make the whole month clickable, in year view.
Make the whole day clickable, in month view.
https://stackoverflow.com/a/3494108/12841859
*/
.year .month,
.calendar>.month td {
    position: relative;
}
.year a span,
.calendar>.month td a span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.year a span:hover {
    border: 2px solid black;
    border-radius: 1rem;
}
.calendar>.month td a span:hover {
    border: 1px solid black;
}

@media print {
    nav {
        display: none;
    }
    .day .event li {
        background: white !important;
        color: black !important;
    }
}

@media screen {
    /*
    https://benmyers.dev/blog/native-visually-hidden/
    */
    .visually-hidden:not(:focus):not(:active) {
        border: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;
    }
    a {
        color: #aaf;
    }
    a:visited {
        color: #faf;
    }

    button, input, select, textarea {
        border: 1px solid white;
        background: #222;
        color: white;
    }

    nav a,
    nav a:visited,
    .month h2 a,
    .month h2 a:visited {
        background: black;
        color: white;
    }
    nav a:hover,
    .month h2 a:hover {
        background: white;
        color: black;
    }
    .month td a,
    .month td a:visited {
        color: white;
    }

    table {
        border: 1px solid white;
    }
    th {
        background: #333;
    }
    th, td {
        border: 1px solid #444;
    }

    td.last-month,
    td.next-month {
        background: #222;
    }
    .month td.now,
    .day tr.now {
        border: 1px solid white;
        background: #444;
    }

    .year a span:hover {
        border: 2px solid white;
    }
    .calendar>.month td a span:hover {
        border: 1px solid white;
    }
}
