body {
  font-family: sans-serif;
  background-color: white;
  color: black;
}
a {
  color: #005;
}
a:visited {
  color: #505;
}

fieldset {
  border: none;
}
nav a, nav a:visited {
  background-color: white;
  color: black;
  font-size: 1.6em;
}
nav a:hover {
  background: black;
  color: white;
}
nav select, nav button {
  border: 1px solid black;
  font-size: 1.5em;
}
nav a {
  text-decoration: none;
  font-style: bold;
}
nav a.last-month, nav a.last-year {
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
nav a.next-month, nav a.next-year {
  margin-left: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

table {
  border: 1px solid black;
  border-spacing: 0;
  margin: auto;
}
th, td {
  border: 1px solid #bbb;
  padding: 0.5em;
}
td {
  height: 5em;
  width: 5em;
}

.calendar {
  text-align: center;
  width: 45em;
  margin: auto;
}
td.last-month, td.next-month {
  background-color: #eee;
}
td.today {
  border: 1px solid black;
  background-color: #ccc;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  a {
    color: #aaf;
  }
  a:visited {
    color: #faf;
  }

  nav a, nav a:visited {
    background: black;
    color: white;
  }
  nav a:hover {
    background: white;
    color: black;
  }
  nav select, nav button {
    background: black;
    color: white;
    border: 1px solid white;
  }

  table {
    border: 1px solid white;
  }
  th, td {
    border: 1px solid #444;
  }

  td.last-month, td.next-month {
    background-color: #111;
  }
  td.today {
    border: 1px solid white;
    background-color: #333;
  }
}
