body {
  font-family: sans-serif;
  background-color: white;
  color: black;
}
a {
  color: #005;
}
a:visited {
  color: #505;
}

fieldset {
  border: none;
}
nav a, nav a:visited {
  font-size: 1.6rem;
}
nav a, nav a:visited, .month h3 a, .month h3 a:visited {
  background-color: white;
  color: black;
}
nav a:hover, .month h3 a:hover {
  background: black;
  color: white;
}
nav select, nav button {
  border: 1px solid black;
  font-size: 1.5rem;
}
nav a, .month h3 a {
  text-decoration: none;
  font-style: bold;
}
nav a.last-month, nav a.last-year {
  margin-right: 1rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}
nav a.next-month, nav a.next-year {
  margin-left: 1rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}
nav a.today {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.calendar table {
  border: 1px solid black;
  border-spacing: 0;
  margin: auto;
}
.calendar th, .calendar td {
  border: 1px solid #bbb;
  padding: 0.5rem;
}
.calendar>.month td {
  height: 5rem;
  width: 5rem;
}

.calendar {
  text-align: center;
  width: 45rem;
  margin: auto;
}
td.last-month, td.next-month {
  background-color: #eee;
}
td.today {
  border: 1px solid black;
  background-color: #ccc;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  a {
    color: #aaf;
  }
  a:visited {
    color: #faf;
  }

  nav a, nav a:visited, .month h3 a, .month h3 a:visited {
    background: black;
    color: white;
  }
  nav a:hover, .month h3 a:hover {
    background: white;
    color: black;
  }
  nav select, nav button {
    background: black;
    color: white;
    border: 1px solid white;
  }

  .calendar table {
    border: 1px solid white;
  }
  .calendar th, .calendar td {
    border: 1px solid #444;
  }

  td.last-month, td.next-month {
    background-color: #111;
  }
  td.today {
    border: 1px solid white;
    background-color: #333;
  }
}
